[
 {
   elvis,
   [
    {config,
     [#{dirs => ["apps/*/src", "src", "test"],
        filter => "*.erl",
        ruleset => erl_files
       },
      #{dirs => ["."],
        filter => "Makefile",
        ruleset => makefiles
       },
      #{dirs => ["."],
        filter => "rebar.config",
        ruleset => rebar_config,
        rules => [
            {elvis_project, protocol_for_deps_rebar,
             #{regex => "(https://|git://|git@).*"}},
            {elvis_project, no_deps_master_rebar,
             #{ignore => [lager, jiffy]}}
        ]
       },
      #{dirs => ["."],
        filter => "elvis.config",
        ruleset => elvis_config
       }
     ]
    }
   ]
 }
].
